logs
log

#hawk ignore
bin/
*/bin/

# maven ignore
target/
*/target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.metadata/
.settings/
.project
.classpath
.springBeans

# idea ignore
.idea/
*.ipr
*.iml
*.iws
classes/
out/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.swp

#wps缓存
~$*.docx
~$*.doc

#soft on mac
.graffle